<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Komiks</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body link="blue" alink="red">
<h1>Komiks</h1>
<p><a href="" target="_blank">KARBONARA</p>
<p>На даный момент сайт в разроботке.
<a href="https://vk.com/comiks_to" target="_blank">Мы </a>вам сообщим когда разработка сайта закончится.</p>

<p>Создатель сайта(если есть вопросы, то обращайтесь к нему) <a href="https://vk.com/id378335197" target="_blank">Вова</a>.
Дизайнер <a href="https://vk.com/alekorel" target="_blank">Саша</a>,
Отвественный за комиксы <a href="https://vk.com/id456322142" target="_blank">Катя</a>
    и мой кодер помощник <a href="https://vk.com/kzhikharev" target="_blank">Костя</a>.</p>

<p>Регистрация скоро будет доступна.</p>
<!-- {{ test }} -->
</body>
</html>
