<!DOCTYPE html>
<html>
<head>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(53361523, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/53361523" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Komiks</title>
<style>
    body {
        width: 35em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body link="blue" alink="red">
<h1>Komiks</h1>
<input value="KARBONARA" type="button" onclick="location.href='http://komiks.ml/catalog/karbonara/'" />
<p>На даный момент сайт в разроботке.
<a href="https://vk.com/comiks_to" target="_blank">Мы </a>вам сообщим когда разработка сайта закончится.</p>

<p>Создатель сайта(если есть вопросы, то обращайтесь к нему) <a href="https://vk.com/id378335197" target="_blank">Вова</a>.
Дизайнер <a href="https://vk.com/alekorel" target="_blank">Саша</a>,
Отвественный за комиксы <a href="https://vk.com/id456322142" target="_blank">Катя</a>
    и мой кодер помощник <a href="https://vk.com/kzhikharev" target="_blank">Костя</a>.</p>

<p>Регистрация скоро будет доступна.</p>
<!-- {{ test }} -->
</body>
</html>
